* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;

    font-family: sans-serif;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.main {
    padding: 40px 0;
}

.button {
    cursor: pointer;
    border: 1px solid white;
    background: none;
    padding: 8px;
    color: white;
    text-transform: uppercase;
    display: inline-block;
}

.delete {
    background: rgb(190, 41, 41);
    border: 1px solid rgb(190, 41, 41);
}

input {
    padding: 5px;
    outline: none;
}

input:read-only {
    background: none;
    border: none;
    outline: none;
    color: white;
    font-size: 18px;
}